# Porta do Servidor
PORT=

# SMTP Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Database
MONGO_USER=
MONGO_PASSWORD=
MONGO_CLUSTER=
MONGO_NAME=
MONGO_APPNAME=

# Chaves de API
VIRUSTOTAL_API_KEY=
PHISHTANK_API_KEY=
WHOIS_JSON_API_KEY=
GOOGLE_API_KEY=
